.idea/
__MACOSX/
.DS_Store
*.zip

# Repositórios de serviço têm seu próprio git
/services/*
!/services/.gitkeep

# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar

# Terraform (fase 2)
.terraform/
*.tfstate
*.tfstate.*
.env
